
@{
    ViewBag.Title = "Edit";
}

<h2>Editing an answer</h2>
<br />

<form method="post" action="/Answers/Edit/@ViewBag.Answer.Id">

    <label>Answer content</label>
    <br />

    <textarea name="Content">@ViewBag.Answer.Content</textarea>
    <br />

    <button class="btn  btn-primary" type="submit">Edit the answer</button>

</form>

