@model QueueUnderflow.Models.Answer


@{
    ViewBag.Title = "Edit";
}

<h2 class="h2-title mb-5">Edit answer</h2>
<br />


<div class="container mt-5" style="text-align:center;">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(controllerName: "Answers", actionName: "Edit",
                  method: FormMethod.Post, routeValues: new { id = Model.Id }))

            {
                <h3>@Html.Label("Content", "Answer content")</h3>
                <br />
                <br />

                @Html.Editor("Content", new { @class = "form-control" })
                <br />

                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                <br />
                <br />

                <button class="btn  btn-primary" type="submit">Edit answer</button>

}
        </div>
    </div>
</div>
