@{

}


@if (TempData["message"] != null)
{
    <div class="alert p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}


<h2 class="h2-title mb-5">Search Results</h2>
<br />

@if (ViewBag.IsNull != "null")
{
    @foreach (QueueUnderflow.Models.Discussion discussion in ViewBag.Discussions)
    {
        <div class="row card" style="width:80rem;">
            <div class="card-body article-card">
                <div class="category" style="width:auto;">@discussion.Category.CategoryName</div>
                @Html.Partial("DiscussionPreview", @discussion)
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        Nu au fost gasite discutii.
    </div>
}



