<h2>Discussions</h2>
<br />

@foreach (var disc in ViewBag.Discussions)
{
    <p>@disc.Title</p>
    <p>@disc.Content</p>
    <p>@disc.Date</p>

    <br />
    <a href="/Discussions/Show/@disc.Id">Show discussion</a>
    <br />
    <a href="/Discussions/Edit/@disc.Id">Edit discussion</a>
    <hr />

}

<a href="/Discussions/New">Add Discussion</a>
<br />
<a href="/Categories/Index">Show categories</a>


