<h2 class="h2-title">Categories</h2>
<br />

@* In Index afisez titlul categoriei + primele 3 discutii
   + buton care trimite catre Show pt taskul tau cu afisare paginata
*@
@{
    int discussionCount;
}
<div>
    @foreach (QueueUnderflow.Models.Category categ in ViewBag.Categories)
    {
        @if (categ.Discussions.Count() > 3)
        {
            discussionCount = 3;
        } else
        {
            discussionCount = categ.Discussions.Count();
        }

        <div class="row category-title">
            @categ.CategoryName
        </div>

        @foreach(QueueUnderflow.Models.Discussion discussion in categ.Discussions)
        {
            @if (discussionCount <= 0)
            {
                break;
            }

            <div class="row card" style="width:80rem;">
                @Html.Partial("DiscussionPreview", discussion)
            </div>

            discussionCount -= 1;
        }

        @* butonul cu 'afisati toate discutiile din categorie'*@
        <div class="text-end">
            <a href="/Categories/Show/@categ.Id" class="link-dark more"><i class="bi bi-caret-right"></i> See all discussions</a>
        </div>
        <br /><br />
    }
</div>
