<h2>Form for adding a category</h2>

<form method="post" action="/Categories/New">

    <label>Category name</label>

    <input type="text" name="CategoryName" />

    <br />

    <button type="submit">Add category</button>

</form>
