@model QueueUnderflow.Models.Category

<h2 class="h2-title mb-5">@Model.CategoryName</h2>
<br />

<div class="position-relative mb-5">
    <div class="position-absolute end-0">
        <div class="btn-group">
            <a href="/Categories/Show/@Model.Id?sort=newest" class="btn btn-dark active" aria-current="page">Newest</a>
            <a href="/Categories/Show/@Model.Id?sort=answers" class="btn btn-dark">Most answers</a>
        </div>
    </div>
</div>

<div>
    @foreach (QueueUnderflow.Models.Discussion discussion in ViewBag.Discussions)
    {
        <div class="row card" style="width:80rem;">
            <div class="card-body article-card">
                @Html.Partial("DiscussionPreview", discussion)
            </div>
        </div>
    }

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       href="/Categories/Show/@Model.Id?page=1&sort=@ViewBag.SortType" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                           href="/Categories/Show/@Model.Id?page=@i&sort=@ViewBag.SortType">@(i)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link"
                       href="/Categories/Show/@Model.Id?page=@(ViewBag.lastPage)&sort=@ViewBag.SortType" aria-
                       label="Next">

                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

@if (User.IsInRole("Admin"))
{
    <div class="d-flex">
        @using (Html.BeginForm(
           actionName: "Delete",
           controllerName: "Categories",
           method: FormMethod.Post,
           routeValues: new { id = @Model.Id }
       ))
        {
            <button class="btn btn-danger" type="submit"><i class="bi bi-trash3"></i> Delete category</button>
        }

        <a href="/Categories/Edit/@Model.Id" class="btn btn-info mx-3"><i class="bi bi-pencil"></i> Edit Category</a>
    </div>
    
}

