<h2>Show category</h2>
<br />

<p>@ViewBag.Category.CategoryName</p>

<br />

<form method="post" action="/Categories/Delete/@ViewBag.Category.Id">

    <button type="submit">Delete category</button>

</form>

<br />

<a href="/Categories/Index">Show categories</a>

