@model QueueUnderflow.Models.Category

<div>
    <div class="row category-title">
        @Model.CategoryName
    </div>

    @foreach (QueueUnderflow.Models.Discussion discussion in Model.Discussions)
    {
        <div class="row card" style="width:80rem;">
            @Html.Partial("DiscussionPreview", discussion)
        </div>
    }
</div>

